@model MovieMVC.ViewModels.BrowseTypeViewModel 
<h1>@Model.Title</h1>

<table>
    @foreach (var movieFilter in Model.MovieFilters)
    {
        <tr>
            <td>
                <a asp-controller="Browse"
                   asp-action="MovieListings"
                   asp-route-filter="@Model.Filter"
                   asp-route-value="@movieFilter">@movieFilter</a>
            </td>
        </tr>
    }
</table>
