@*model MovieMVC.ViewModels.BrowseTypeViewModel *@

@model IEnumerable<MovieMVC.Models.MovieFilter>

@*//<h1>@Model.Title</h1> *@

<ul>
    @foreach (var filter in Model)
    {
        <li>
            <a asp-controller="Browse" asp-action="FilterBy" asp-route-filter="@filter">@filter</a>
        </li>
    }
</ul>