@model MovieMVC.ViewModels.BrowseTypeViewModel

<ul>
    @foreach (var filter in Model.Filters)
    {
        <li>
            <a asp-controller="Browse" asp-action="FilterBy" asp-route-filter="@filter">@filter</a>
        </li>
    }
</ul>